gunicorn==25.1.0
gevent==24.11.1
gevent-websocket==0.10.1
flask==3.1.2
flask_socketio==5.6.0
httpx<0.28
youtube-search-python==1.6.6
ytmusicapi==1.11.5
yt_dlp[default]==2026.2.21
unidecode==1.4.0
thefuzz==0.22.1

